* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  text-align: start;
  margin: 10px 5px;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 21px;
}

.product {
  border-style: solid;
  border-color: lightgray;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  margin: 2px 50px;
}

.logo > img {
  width: 50px;
  margin-top: 20;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}

.menu {
  display: none;
}

.navbar {
  justify-content: flex-end;
  padding: 5px;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-color: lightgray;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px 20px;
  margin-bottom: 0;
}

@media(min-width: 500px) and (max-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }
  img {
    margin: 20px;
  }
}

@media(min-width: 900px){

  img {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    width: 80%;
  }

  .header {
    flex-direction: row;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu > li {
    margin-right: 40px;
  }

  .container{
    flex-direction: row;
  }

  .product {
    flex: 1;
    margin: 2px 20px;
  }

  .social {
    justify-content: space-around;
  }
}